@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url('/img/background.jpg');
  background-repeat: repeat-y;
  background-size: 100%;
  color: #fff;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.centerBox {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
#logo {
  width: 50%;
  margin-bottom: 3.5em;
  padding-top: 3.5em;
}
.filterBox {

}
.filterBox .filterBoxHeader {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2em;
}
.filterBox select {
  height: 2.5em;
  cursor: pointer;
  min-width: 250px;
}
#charsBox {

}
